# IDE and OS-specific files
.DS_Store
.vscode/
.idea/

# Log files and command outputs
*.log
*.tfplan
packer.log

# Packer cache directory
packer_cache/

# Ignore packer-generated autoinstall files
http-debian/preseed.cfg
http-ubuntu/user-data

# ISO files and disk images
downloaded_iso_path/

# Terraform/OpenTofu files
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
.terraform/
.terraform.lock.hcl

# Exclude encrypted secrets
secrets.yaml

# Include encrypted secrets
!*.sops.*
!*.sops.*.*