# Encrypt the OpenTofu state file and its backups with git-crypt.
proxmox/tofu/live/*/*.tfstate filter=git-crypt diff=git-crypt
proxmox/tofu/live/*/*.tfstate.* filter=git-crypt diff=git-crypt

# Mark HCL files as binary to prevent bad merges.
*.pkr.hcl binary
*.tf binary